*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  justify-self: center;
  align-items: center;
  align-self: center;
  max-width: 1140px;
  gap: 30px;
}

.result {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  max-width: 711px;
  gap: 16px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
}

.result__video {
  width: 711px;
  object-position: center;
  object-fit: cover;
}

.error__title {
  color: #fff;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  cursor: pointer;
}

.search-form__label:has(.search-form__pseudo-checkbox):hover {
  text-decoration: underline;
}

.search-form__label:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
  -webkit-apperence: none;
  -moz-appearance: none;
}

.search-form__textfield:hover {
  cursor: text;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 212px;
  min-height: 22px;
  margin-top: 5px;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  vertical-align: middle;
  outline: 1px solid #fff;
  outline-offset: 1px;
}

input[type="checkbox"]:checked + span {
  background-color: #fff;
}

.search-form__submit-button {
  min-width: 194px;
  min-height: 34px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: end;
  gap: 10px;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  cursor: pointer;
  background-color: transparent;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
}

.content__details {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-end;
  gap: 26px;
}

/* заголовок окна контента */
.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  max-height: 298px;
  flex-wrap: wrap;
  overflow: auto;
  gap: 30px;
}

.content__list-item {
  padding: 2px;
  appearance: none;
  -webkit-apperence: none;
  -moz-appearance: none;
  border: none;
  outline: none;
}

.content__list-item:hover {
  text-decoration: underline;
}

.content__list-item:active {
  background-color: #545050;
}

.content__card-link {
  display: block;
  padding: 2px;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  margin: 2px;
  min-width: 200px;
  color: #fff;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  margin-bottom: 6px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-position: center;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.more-button {
  min-width: 399px;
  min-height: 34px;
}

fieldset {
  border: none;
}
